{% extends 'default.html' %}

{% block title %}Nos evenements{% endblock %}

{% block content %}

<h1>Ce que nous vous proposons !</h1>


<ul class="list-group list-group-horizontal">
    <li class="list-group-item">Cinema</li>
    <li class="list-group-item">Montreal</li>
    <li class="list-group-item">15:00</li>
    <li class="list-group-item">100</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">Diner</li>
    <li class="list-group-item">Saint-Jerome</li>
    <li class="list-group-item">12:00</li>
    <li class="list-group-item">80</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>

  {% endblock %}