{% extends 'default.html' %}

{% block title %}A propos{% endblock %}

{% block content %}

<h1> Bienvenue dans notre page d'Accueil</h1>

<p> <img src="https://cdn.futura-sciences.com/cdn-cgi/image/width=1920,quality=60,format=auto/sources/samsung-galaxy-s23-reconditionne.jpg" alt=""height="auto"width=100%></p>
<picture>
    <source srcset="https://cdn.futura-sciences.com/cdn-cgi/image/width=1920,quality=60,format=auto/sources/samsung-galaxy-s23-reconditionne.jpg" type="image/svg+xml">
    <img src="https://cdn.futura-sciences.com/cdn-cgi/image/width=1920,quality=60,format=auto/sources/samsung-galaxy-s23-reconditionne.jpg" class="img-fluid img-thumbnail" alt=""height="auto"width=100%>
  </picture>
{% endblock %}

